<!---Hamburger Menu--->
<button class="toggle-btn" *ngIf="isMobile" (click)="toggleSidebarMobile()">☰</button>

<!-- Sidebar, altid aktiv, stýle styres via klasser-->
 <div
    class="Navbar"
    [class.minimized]="!isMobile && isMinimized"
    [class.open]="isMobileOpen">

    <div class="logo">
        <img src="assets/Next-Games-retro-logo.png" alt="Logo" />

    </div>

    <!-- Minimeringsknap - kun desktop-->
     <button class="toggle-btn" *ngIf="!isMobile" (click)="toggleSidebarDesktop()">⮜</button>

     <ul>
        <li *ngIf="isAdmin">
            <a [routerLink]="['/admin-dashboard']" routerLinkActive="active">
                <img src="assets/computer.png" class="icon" />
                <span class="text" *ngIf="!isMinimized">Administration</span>
            </a>
        </li>

        <li *ngIf="isAdmin">
            <a [routerLink]="['/upload-image']" routerLinkActive="active">
                <img src="assets/image.png" class="icon" />
                <span class="text" *ngIf="!isMinimized">Image Uploader</span>
            </a>
        </li>

        <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="active">
                <img src="assets/game.png" class="icon" />
                <span class="text" *ngIf="!isMinimized">Dashboard</span>
            </a>
        </li>

        <li>
            <a [routerLink]="['/leaderboard']" routerLinkActive="active">
                <img src="assets/podium.png" class="icon" />
                <span class="text" *ngIf="!isMinimized">Leaderboard</span>
            </a>
        </li>

        <li>
            <a [routerLink]="['/settings']" routerLinkActive="active">
                <img src="assets/signup.png" class="icon" />
                <span class="text" *ngIf="!isMinimized">{{ displayName }}</span>
            </a>
        </li>
        
<li *ngIf="isLoggedIn">
  <app-logout></app-logout>
</li>

        <li *ngIf="isAdmin">
            <a [routerLink]="['/upload-game']" routerLinkActive="active">
                <img src="assets/edit.png" class="icon" />
                <span class="text" *ngIf="!isMinimized">Create Game</span>
            </a>
        </li>



     </ul>
</div>