/*general reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

/*body styling*/
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: inherit;
}

/* container for centering */
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

/*main box*/
.login-box{
    background-color: rgba(255, 255, 255, 0);
    padding: 30px;
    border: 5px solid currentColor;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h2{
    margin-bottom: 20px;
    color: inherit;
}

/*inputs*/
input{
    background-color: transparent;
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: border-color 0.3 ease;
}

input:focus{
    border-color: currentColor;
    outline: none;
}

input::placeholder{
    color: inherit;
    opacity: 1;
}

/*buttons*/
.login-btn{
    width: 100%;
    padding: 12px;
    background-color: transparent;
    color: inherit;
    border: 2px solid currentColor;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.login-btn:hover{
    background: rgba(0, 0, 0, 0.2);
}

