<div class="dashboard-container">
    <!-- search area -->
    <div class="search-bar-container">
        <div class="search-bar">
            <!-- search input -->
            <input type="text" name="Search by email" (input)="onSearchInput($event)"/>
        </div>
    </div>

<!-- shows loading text -->
<div *ngIf="isLoading" class="spinner">Loading...</div>

<!-- shows tables when loading is done -->
<div class="tables-container" *ngIf="!isLoading">

 <!-- admins table -->
<div class="user-table">
    <h2>Admins</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- loops through admins / shows all the admins -->
            <tr *ngFor="let user of admins">
                <td>{{user.displayName}}</td>
                <td>{{user.email}}</td>

                <td>
                   <!-- admin switch toggle -->
                    <label class="switch">
                        <input type="checkbox" [checked]="user.isAdmin" (change)="toggleAdminRights(user)"/>
                    

                    <span class="slider"></span>
                    </label>
                    <!-- delete button -->
                    <button class="delete-button" (click)="deleteUser(user.uid)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="user-table">
    <h2>Users</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
         <!-- loops through users / shows all the users -->
            <tr *ngFor="let user of regularUsers">
                <td>{{user.displayName}}</td>
                <td>{{user.email}}</td>

            <td>
             <!-- user switch toggle -->
                <label class="switch"> 
                    <input type="checkbox" [checked]="user.isAdmin" (change)="toggleAdminRights(user)"/>
                    <span class="slider"></span>
                </label>
                <!--delete button-->
                <button class="delete-button" (click)="deleteUser(user.uid)">Delete</button>
            </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

</div>