/*main dashboard*/
.dashboard-container{
    width: 98%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    border: 5px solid currentColor;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*search bar*/
.search-bar-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
/* search input*/
.search-bar input{
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid #ccc;
    background: transparent;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

/*changes border color when clicked*/
.search-bar input:focus {
    border-color: currentColor;
    outline: none;
}

/*holds all tables and their layout*/
.tables-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*table box*/
.user-table{
    flex:1;
    min-width: 300px;
    background: transparent;
    border: 2px solid currentColor;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/*table title*/
.user-table h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size:1.5rem;
    color: inherit;

}
/*table*/
table{
    width: 100%;
    border-collapse: collapse;
}

/*space inside the table*/
th,td{
    padding: 12px;
    text-align: left;
}

/*adds color to every second row*/
tr:nth-child(even) {
  background-color: rgba(0,0,0,0.05);
}

/*makes row darker on hover*/
tr:hover {
  background-color: rgba(0,0,0,0.1);
}

/*toggle switch*/ 
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/*hides default checkbox*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*background of switch*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 50px;
}

/*white circle inside switch*/
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

/*changes switch to green*/
input:checked + .slider {
  background-color: #4CAF50;
}

/*moves white circle to the side*/
input:checked + .slider:before {
  transform: translateX(22px);
}

/* delete button */
.delete-button {
  background-color: #f44336;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
}

/*makes delete button darker*/
.delete-button:hover {
  background-color: #e53935;
}

/* loading spinner */
.spinner {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
}
